<!DOCTYPE html>
<html ng-app="pruebaAngular" lang="es">
<head>
    <meta charset="UTF-8">
    <link href="temp.css">
    <link rel="stylesheet" type="text/css" href="temp.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="controller.js"></script>
    <title>Directivas Js</title>
</head>
<body ng-controller="captureMessage">
    <header>
        <div class="header">

        </div>
    </header>
    <section>
        <article class="galery">

        </article>
        <article class="information">

        </article>
        <article class="bodyForm">
            <div class="contentArticleForm">
                <form ng-submit="sendMessage()">
                    <div class="headForm">
                        <p style="font-size:30px;line-height: 0.152;">Get in Touch</p>
                        <p style="font-size:18px;line-height: 1.198;">In order to get in touch use the contact form below.</p>
                    </div>
                    <input placeholder="Name(Required)" type="text" ng-model="newMessage.name"><br>
                    <input placeholder="Email(Required)" type="text" ng-model="newMessage.email"><br>
                    <input placeholder="Subject" type="text" ng-model="newMessage.subject"><br>
                    <input placeholder="Write Your message here" type="text" ng-model="newMessage.write"><br>
                    <input class="buttonForm" type="submit" value="Send">
                </form>
                <div class="resultPruebas">
                    <h1>Aiting room</h1>
                    <ul>
                        <li ng-repeat="message in listMessage">
                            {{message.name}} - {{message.email}} - {{message.subject}} - {{message.write}}
                        </li>
                    </ul>
                </div>
                <div class="textComplement">
                    <p><strong>Quisque Hendrerit:</strong> purus dapi- bus, ornare nibh vitae, viverra nibh.
                        Fusce vitae aliquam tellus. Proin sit amet volutpat libero. Nulla sed nunc et tordor
                        luctus faucibus morbi vitae.
                    </p>
                </div>
            </div>
        </article>
    </section>
    <footer>
        <p class="footer">@Texto en pie de pagina</p>
    </footer>
</body>
</html>